@model int

<input type="hidden" class="JobApplicantId" id="JobApplicantId" name="JobApplicantId" value="@Model" />

<div class="row">
    <div class="col-md-12 col-lg-12">
        <textarea class="form-control z-depth-1 reason" rows="3" style="width:100%;height:200px" id="RejectReason" placeholder="دلیلی وارد کنید ( این بخش برای فرد پیامک می شود )"></textarea>
    </div>
</div>
<div class="form-row" style="margin-top:20px;">
    <div class="form-group col-xs-12 col-md-12 col-lg-12 text-center">
        <button type="button" class="btn btn-danger btnDisApprove">رد کردن </button>
    </div>
</div>

