@model List<FileLinkModel>
@{
    Layout = "~/Views/Shared/_ControlPanelLayout.fa-IR.cshtml";
}
<div class="card">
    <div class="card-header bg-dark" style="cursor:pointer">
        <h6>معرفی نامه ها</h6>
    </div>
    <div class="card-body bg-light">

        @await Component.InvokeAsync("ViewStepsComponent")

        @if (Model.Any())
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <a class="mt-3" style="width:100%" href="@Url.Action("DownloadFile", new { link = item.Link })">

                            @if (item.Link.Contains("OM"))
                            {
                                <img src="~/Images/OM.jpg" style="width:100%;height:auto" />
                            }
                            @if (item.Link.Contains("NA"))
                            {
                                <img src="~/Images/NA.jpg" style="width:100%;height:auto" />
                            }
                            @if (item.Link.Contains("Document"))
                            {
                                <img src="~/Images/Document.jpg" style="width:100%;height:auto" />
                            }
                        </a>
                    </div>
                }
            </div>
        }
        else
        {
            <div id="formInfo">
                <div role="alert">
                    <h6 class="alert alert-danger">در حال حاضر معرفی نامه ای صادر نشده است </h6>
                </div>
            </div>
        }
    </div>
</div>


