<form action="/Search/Result" method="get"  class="input-group">
    <input type="text" placeholder="جستجو" class="form-control searchInput">
    <button class="input-group-text" id="searchIcon" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</form>
