<a href="#" class="btn btn-xs btn-success importExcel" data-bs-toggle="modal" data-bs-target="#importExcelForm">
    <i class="fas fa-file-excel"></i>
</a>
<div class="modal fade" id="importExcelForm" tabindex="-1" role="dialog" aria-labelledby="importExcelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importExcelTitle">ورود اطلاعات از طریق اکسل</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="ImportFromExcel" method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-method="post">

              
                <div class="modal-body">

                    <div class="file-input">
                        <label for="fileuploader" class="forms-label">ارسال فایل</label>
                        <input class="fileuploader" id="fileuploader"
                               name="Users"
                               type="file" data-language="fa"
                               data-theme="fa"
                               data-show-caption="false"
                               data-show-upload="false"
                               data-browse-label="انتخاب فایل" data-remove-label="حذف"
                               data-show-remove="true" data-multiple="true"
                               data-upload-async="false"
                               data-maxfile-size="925600"
                               data-maxfile-previewsize="925600" data-rtl="true"
                               data-initialpreview-downloadurl="true"
                               data-enable-resumable-upload="false"
                               data-drop-zone-enabled="true"
                               data-initial-preview-as-data="true"
                               data-overwrite-initial="false"
                               data-prefer-Iconic-preview="true"
                               data-purify-html="true"
                               data-autoupload="false"
                               data-allowed-file-extensions='["xlsx"]'>
                    </div>
                </div>


                <div class="progress">
                    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="importDatavalues" style="height:300px;overflow:scroll">




                </div>

                <div class="modal-footer">                  
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">ورود اطلاعات</button>
                </div>
            </form>
        </div>
    </div>
</div>