@using Teram.Web.Core.Helper
@inject IStringLocalizer<Teram.HR.Module.Recruitment.Controllers.GeographicalDistributionController> localizer
<div class="form-row mt-4">
    <div id="map" style="width:100%;height:500px;"></div>
</div>
