@model Teram.Web.Core.Page.ContainerInformation

<div class="paneBox tuba-container simpleContainer">
    <div class="container-header">
        <span>@Model.Title</span>
    </div>
    <div class="paneContainer container-body">
        @await Component.InvokeAsync(Model.ModuleName, new { PageModuleId = Model.PageModuleId })
    </div>
</div>