@page
@model ForgotPasswordConfirmation
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] =Localizer["Forgot password confirmation"];
}

<h6>@ViewData["Title"]</h6>
<p>
   @Localizer["Please check your email to reset your password."]
</p>
<input type="button" value="بازگشت" onclick="window.location.href = '/'; return false;" class="backBtn" />
