@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-white">@ViewData["Title"]</h1>
    <h5 class="text-white">حساب کاربری شما مسدود شده است لطفاً با تیم پشتیبانی تماس بگیرید</h5>
</header>
