@page
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Reset password confirmation"];
}

<h6>@ViewData["Title"]</h6>
<p>
    @Localizer["Your password has been reset."] @Localizer["Please"] <a asp-page='./Login'>@Localizer["click here to log in"]</a>
</p>
